.header,.footer{
	background: orange;
	height: 10vh;
	width: 100%;
	float: left;
}
.navbar{
	width: 20vw;
	background: brown;
}
.main{
	width: 60vw;
	background: blue;
}
.links{
	width: 17vw;
	background: green;
}
.navbar,.main,.links{
	height: 100vh;
	float: left;
}
.footer{
	float: left;
}

/*lesson flexbox html*/ 

/**{
	box-sizing: border-box;
}

.box1,.box2,.box3{
	height: 20vh;
	width: 30vw;
	border: 2px solid hotpink;
	/*thickness, type of box, color*/
	/*float: left;
}*/

.parent{
	display: flex;
	justify-content: space-between;
/*	flex-direction: column-reverse */
}
.child{
	width: 30%;
	height: 30vh;
	border: 1px solid mediumblue;
}
