nav#mynav{
        display: block;
        overflow: hidden;
}

nav#mynav ul li{
        list-style: none;
        font-family: 'Pacifico', cursive;
        display: inline-block;
        padding-top: 26px;
/*        padding: 6px 6px;*/
/*        position: relative;*/
}

li a{
      text-align: left;
      text-decoration: none;
      float: left;
      padding: 15px 15px;
      color: #FDE2F3;
}

li a:hover{
      background: #E4E4D0;
      color: #917FB3;
}

a:visited{
    color: #E5BEEC;
}

span#navkit{
    font-size: 4em;
    background-clip: text;
    float: left;
    color: #FDE2F3;
    padding-left: 10px;
    padding-top: 7px;
    padding-right: 20px;
}



/**{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}*/
body{
   background-color: #a68aed;
}
.catper{
   display: flex;
   justify-content: center;
   text-align: center;
   height: 30px;
   background-color: #a68aed;
}
h1{
   font-size: 45px;
   font-family: 'EB Garamond', serif;
   color: #FDE2F3;

}
.catper p{
   font-size: 22px;
   font-family: 'Roboto Slab', serif;
   text-align: justify;
   color: #FDE2F3;
}
.r1{
   margin: 18px;
   float: center;
   display: block;
}
.q{
   width: 400px;
   float: center;
   margin: 15px;
   border: 3px #F7FFE5;
   border-radius: 50%;
    padding-bottom: 20px;
}
.w{
   margin: 15px;
   border: 3px #F7FFE5;
   width: 400px;
   float: center;
   border-radius: 50%;
}
.pink{
   color: #E5BEEC;
   padding-bottom: 20px;
}

/*footer section*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h3{
   font-size: 2em;
   margin-top: 50px;
   margin-bottom: 25px;
   color: #FDE2F3;
/* font-weight: 1000;*/
}
.footer p{
   text-align: center;
   font-size: 15px;
   margin-top: 50px;
   margin-bottom: 25px;
   color: #FDE2F3;
}
h5{
   color: #FDE2F3;
}
.icons, .fa{
   color: black;
   margin: 0 13px;
   cursor: pointer;
   padding: 18px 0;
}